<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0'">
    <title>Home | Vacina ON</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Palanquin:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="title">Vacina ON</h1>
    <section  class="justify align column">
        <img class="logo" src="/img/logo_temp.png" alt="logo">
        <div class="login_box justify align column">
            <a href="/login" class="btn btn_nobg">LOGIN</a>
            <a href="/signup" class="btn">SIGNUP</a>
        </div>
    </section>
</body>
</html>