*{
    padding: 0px;
    margin: 0px;
    --branco:(color:#F7F7F7) 
}

body{
    background-color: #121212;
}

.flex{
    display: flex;
}

.justify{
    display: flex;
    justify-content: center;
}

.align{
    display: flex;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width:320px) and (max-width:525px){
    body{
        
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #2e2e2e;
        width: 100vw;
    }

    .logo{
        margin-top: 100px;
        width: 50%;
    }

    .title{
        position: relative;
        top: 15px;
        font-size: 40px;
        color: #e8e8e8;
        text-align: center;
        font-family: 'Palanquin', sans-serif;
    }

    .login_box{
        margin-top: 50px;
        width: 85vw;
        height: 50vh;
        border-radius: 7px;
    }

    .login_box brn{
        width: 60px;
        height: 20%;
    }

    .login_box .btn{
        margin-top: 10px;
        margin-bottom: 20px;
        width: 89%;
        color: #e8e8e8;
        font-family: 'Palanquin', sans-serif;
        font-size: 15px;
        font-weight: 50;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #aa64ff;
        padding: 7px 0px;
        border: 2px solid #aa64ff;
        outline: none;
        user-select: none;
    }

    .login_box .btn_nobg{
        background-color: transparent;
    }

    .btn:hover{
        background-color: transparent;
        transition: .2s;
    }

    .btn_nobg:hover{
        background-color: #aa64ff;
        transition: .2s;
    }
    

}